/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.full-width {
    width: 100%;
}
.mobile-full-width {
    @media screen and (max-width: 480px) {
        width: 100%;
    }
}

/* Override default material rules*/
.mdc-text-field--filled:not(.mdc-text-field--disabled),
.mdc-text-field--filled:hover,
.mat-mdc-form-field-focus-overlay {
    background-color: #fff !important;
}
