.card {
    max-width: 200px;
    height: 490px;
    .img-wrap {
        text-align: center;
    }
    .flex-line {
        display: flex;
        justify-content: space-around;
    }
    .pairing {
        --max-lines: 3;
        max-height: calc(1.4rem * var(--max-lines));
        overflow: hidden;
    }
}