.card {
    width: 200px;
    // max-width: 200px;
    @media screen and (max-width: 480px) {
        width: 100%;
        max-width: none;
    }
    .title {
        --max-lines: 1;
        max-height: calc(1.4rem * var(--max-lines));
        text-align: center;
        overflow: hidden;
        display: inline-block;
        padding-bottom: 1rem;
    }
    .img-wrap {
        text-align: center;
        min-height: 200px; // For the offline case
    }
    .flex-line {
        display: flex;
        .width-50 {
            width: 50%;
        }
        &.price-row {
            align-items: center;
            height: 80px;
            @media screen and (max-width: 480px) {
                height: 50px;
            }
        }
    }
    mat-card-actions {
        border-top: 1px solid #e3e3e3;
        padding: 8px;
        background-color: #f5f5f5;
        height: 40px;
        min-height: auto6;
    }
}
