<!-- Toolbar -->
<div class="toolbar" role="banner">
  <img
    width="40"
    alt="Angular Logo"
    src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg=="
  />
  <span>Welcome to the Angular Reactive Form Chapter</span>
</div>

<div class="content" role="main">
  <h2>Reactive Form Example</h2>
  <div class="card-container">
    <div class="role-section">
      <span> Current role: {{ currentUserRole }} </span>
      <button
        type="button"
        class="btn btn-ok btn-primary form-button"
        (click)="changeUserRole()"
      >
        Set as {{ currentUserRole === "user" ? "Site Admin" : "User" }}
      </button>
    </div>
    <form [formGroup]="form">
      <div class="form-group">
        <label class="col-sm-2 col-form-label">Firstname</label>
        <div class="col-sm-10">
          <input
            type="text"
            formControlName="firstname"
            class="form-control"
            autocomplete="given-name"
          />
        </div>
        <div
          class="col-sm-10 text-danger"
          *ngIf="firstname?.invalid && (firstname?.dirty || firstname?.touched)"
        >
          <span *ngIf="firstname?.hasError('required')">
            Firstname is required.
          </span>
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-2 col-form-label">Lastname</label>
        <div class="col-sm-10">
          <input
            type="text"
            formControlName="lastname"
            class="form-control"
            autocomplete="family-name"
          />
        </div>
        <div
          class="col-sm-10 text-danger"
          *ngIf="lastname?.invalid && (lastname?.dirty || lastname?.touched)"
        >
          <span *ngIf="lastname?.hasError('required')">
            Lastname is required.
          </span>
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-2 col-form-label">Email</label>
        <div class="col-sm-10">
          <input
            type="text"
            formControlName="email"
            class="form-control"
            autocomplete="email"
          />
        </div>
        <div
          class="col-sm-10 text-danger"
          *ngIf="email?.invalid && (email?.dirty || email?.touched)"
        >
          <span *ngIf="email?.hasError('required')"> E-Mail is required. </span>
          <span *ngIf="email?.hasError('invalidemail')">
            E-Mail is invalid.
          </span>
          <span *ngIf="email?.hasError('emailNotUnique')">
            E-Mail is not unique.
          </span>
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-2 col-form-label">Confirm Email</label>
        <div class="col-sm-10">
          <input
            type="text"
            formControlName="emailConfirm"
            class="form-control"
            autocomplete="email"
          />
        </div>
        <div
          class="col-sm-10 text-danger"
          *ngIf="
            emailConfirm?.invalid &&
            (emailConfirm?.dirty || emailConfirm?.touched)
          "
        >
          <span *ngIf="emailConfirm?.hasError('required')">
            E-Mail confirmation is required.
          </span>
          <span *ngIf="emailConfirm?.hasError('invalidemail')">
            E-Mail confirmation is invalid.
          </span>
        </div>
        <div
          class="col-sm-10 text-danger"
          *ngIf="
            form?.hasError('nomatch') &&
            (emailConfirm?.dirty || emailConfirm?.touched)
          "
        >
          <span *ngIf="form?.hasError('nomatch')"> E-Mails must match. </span>
        </div>
      </div>
      <div class="form-group">
        <button
          type="button"
          class="btn btn-ok btn-primary add-button form-button"
          (click)="addAddress()"
        >
          Add Address
        </button>
        <div formArrayName="addresses">
          <div *ngFor="let address of addresses.controls; let i = index">
            <div [formGroupName]="i" class="address-group">
              <label class="col-sm-2 col-form-label">Street</label>
              <div class="col-sm-10">
                <input
                  type="text"
                  formControlName="street"
                  class="form-control"
                />
              </div>
              <label class="col-sm-2 col-form-label">City</label>
              <div class="col-sm-10">
                <input
                  type="text"
                  formControlName="city"
                  class="form-control"
                />
                <button
                  class="col-sm-2 btn btn-ok btn-danger form-button"
                  (click)="removeAddress(i)"
                >
                  Remove
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="form-group mb-2">
        <div *ngIf="dynamicFields; else loader" class="col-sm-10">
          <fieldset>
            <legend>Dynamic Form</legend>
            <div
              class="row mb-1"
              *ngFor="let dynamicField of dynamicFields; trackBy: trackById"
            >
              <div class="col" formGroupName="dynamicForm">
                <ng-container [ngSwitch]="dynamicField.type">
                  <label
                    class="form-label"
                    *ngIf="dynamicField.type !== formFieldTypes.checkbox"
                  >
                    {{ dynamicField.label }}
                  </label>
                  <ng-container *ngSwitchCase="formFieldTypes.text">
                    <input
                      type="text"
                      class="form-control form-control-sm"
                      [formControlName]="dynamicField.fieldId"
                    />
                  </ng-container>
                  <ng-container *ngSwitchCase="formFieldTypes.checkbox">
                    <div class="form-check">
                      <input
                        class="form-check-input"
                        type="checkbox"
                        [formControlName]="dynamicField.fieldId"
                      />
                      <label class="form-check-label">{{
                        dynamicField.label
                      }}</label>
                    </div>
                  </ng-container>
                </ng-container>
              </div>
            </div>
          </fieldset>
        </div>
        <ng-template #loader>
          <div class="loader-wrap">
            <div class="loader"></div>
          </div>
        </ng-template>
      </div>
      <div class="form-group">
        <fieldset>
          <legend>Custom Form Control</legend>
          <div class="form-group">
            <label class="col-sm-2 col-form-label">Rating</label>
            <div class="col-sm-10">
              <app-rating formControlName="rating"></app-rating>
            </div>
          </div>
        </fieldset>
      </div>
      <div class="form-actions">
        <button
          type="button"
          class="btn btn-ok btn-primary form-button"
          (click)="submit()"
        >
          Submit
        </button>
      </div>
    </form>
  </div>
</div>
